
InoxERP/UIWindows/obj/x86/Debug/InoxErp.Core.csproj.CoreCompileInputs.cache
InoxERP/UIWindows/obj/x86/Debug/InoxErp.Core.csproj.FileListAbsolute.txt
InoxERP/UIWindows/obj/x86/Debug/InoxErp.Core.csproj.GenerateResource.cache
InoxERP/UIWindows/obj/x86/Debug/InoxErp.Core.csprojAssemblyReference.cache
InoxERP/UIWindows/obj/x86/Debug/InoxERP.Core.exe
InoxERP/UIWindows/obj/x86/Debug/InoxERP.Core.pdb
InoxERP/UIWindows/obj/Debug/InoxERP.Core.csproj.CoreCompileInputs.cache
InoxERP/UIWindows/obj/Debug/InoxERP.Core.csproj.FileListAbsolute.txt
InoxERP/.vs/InoxERP/v15/Server/sqlite3/storage.ide-shm
InoxERP/InoxErpInstaller/Debug/InoxErpInstaller.msi
InoxERP/.vs/InoxERP/v15/Server/sqlite3/storage.ide-shm
