<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="ManagePackageSource" version="0.1.0.12" targetFramework="net461" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.900.148" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net461" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="150.18131.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Composition" version="16.1.8" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Composition.NetFxAttributes" version="16.1.8" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net461" />
  <package id="SqlServerReleaseUtils" version="1.1.9" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net461" />
  <package id="System.Composition" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.AttributedModel" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.Convention" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.Hosting" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.Runtime" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.TypedParts" version="1.2.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net461" />
  <package id="System.ServiceModel.Duplex" version="4.5.3" targetFramework="net461" />
  <package id="System.ServiceModel.Primitives" version="4.5.3" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net461" />
</packages>